<md-card>
  <h1 class="md-title">{{contact.firstName + ' ' + contact.lastName}}</h1>
  <p class="md-body-2">{{contact | contactAddress}}</p>
  <p class="md-body-2">  {{contact.phone}}</p>
  <div fxLayout="row" fxLayoutAlign="space-between end" >
  <div fxLayout="row" fxLayoutAlign="start start">
  <button vibrationClick md-icon-button (click)="editContact(contact)">
    <md-icon class="md-18">mode_edit</md-icon>
  </button>
  <button vibrationClick md-icon-button (click)="removeContact(contact)">
    <md-icon class="md-18">delete</md-icon>
  </button>
  </div>
  <div fxLayout="row" fxLayoutAlign="start end">
  <button vibrationClick md-icon-button (click)="showContact(contact)">
  <md-icon class="md-18">location_on</md-icon>
  </button>
  </div>
  </div>

</md-card>
